body{
    background: #F4E2D8;
    
    background-size: cover;
    width: 1850px;
    height: 900px;
    
}

p{
    background-color: #FADBD8;
    color: #F73859;
}

li{
    color: #F73859;
}


h2{
    color: #F73859;
    background-color: #FDD99B;
}

/* conteudo */


.esporte{
    color: #FFFBB2;
    text-align: center;
    text-transform: uppercase;
}

/* DEFININDO ID*/
#abro{
    font-size: 30px;
    color: #F73859
}

h1{
    font-size: 300%;
    height: 100px;
    margin-top: -8px;
    background-color: #D2B4DE;
    color: #F7CAC9;
    text-align: center;
}

#botao{
    color: #eee0be;
   
    background-color: #FFA07A;
    border: solid 1px #FFA07A;
    border-radius: 10%;
    font-size: 150%;
}

#botao:hover{
    background-color: #F08080;
    color: aliceblue;


}

div > div {
    display: inline-block;
    text-align: center;
    margin-right: -100px;
    border: solid red;
}
